# Requirements for building and deploying the textbook.
jupyter-book>=2

# Requirements for building and deploying the textbook.
numpy
scipy
pandas
matplotlib
datascience
prob140
shapely
descartes
ipywidgets