# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas
numpy
datascience
folium
matplotlib==3.1
nbinteract
scipy
prob140
shapely
descartes

# Master version of jupyter book
git+https://github.com/jupyter/jupyter-book
